* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-inline: 1.25rem;
}

nav {
  position: fixed;
  width: 100%;
  background: #333333;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
}

nav svg {
  align-self: center;
  width: 2.25rem;
  cursor: pointer;
}

.close-menu {
  display: none;
}

nav img {
  margin-bottom: 0.5em;
  width: 5rem;
}

nav ul {
  display: none;
}

.dropdown {
  margin-top: 3.5em;
  position: fixed;

  background-color: #333333;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;

  display: none;
}

.dropdown li {
  padding-block: 0.75em;
  padding-left: 1em;
}

.dropdown li a {
  text-decoration: none;
  color: #fff;
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

.banner-desktop {
  display: none;
}
.banner-mobile {
  margin-top: 3.5rem;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.about,
.books,
aside {
  margin-top: 2em;
  padding-inline: 1.5rem;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  text-align: center;
}

.about article {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.about img {
  align-self: center;
  width: 50%;
  margin-bottom: 2em;
}

.about .word p {
  margin-bottom: 1.25em;
  text-align: justify;
}

li {
  margin-bottom: 0.5em;
}

.books {
  display: flex;
  flex-direction: column;
}

.books h2 {
  margin-bottom: 1.5em;
}

.books img {
  width: 60%;
  align-self: center;
  margin-bottom: 1.75em;
}

.buku-emas,
.buku-kecil {
  display: flex;
  flex-direction: column;
}

.buku-kecil {
  margin-top: 2.5em;
}

.books p {
  text-align: justify;
}

.books .button {
  display: flex;
  justify-content: center;
}
.books button {
  background-color: #333333;
  color: #fff;
  border: none;
  padding-block: 1.15em;
  padding-inline: 1.75em;
  margin-top: 2em;
  cursor: pointer;

  justify-self: center;
}

.books button:hover {
  background-color: #414141;
}

aside {
  background-color: #706c61;
  color: #fff;
  padding-block: 3em;
}
aside h2 {
  margin-bottom: 1.5em;
}

aside .content {
  display: flex;
  flex-direction: column;
}

aside img {
  width: 60%;
  border-radius: 4em;
  margin-bottom: 2em;
  align-self: center;
}

aside p {
  text-align: justify;
}

footer {
  margin-top: 1.75em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  margin-top: 1em;
  text-align: center;
}
